@model PagedList.IPagedList<BSAS_20170810.Models.ExpandedUserDTO>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin";
}

<div class="page-title">
    <h2>Admin</h2>
</div>
<hr />
<p>
    @Html.ActionLink("Create New User", "Create", null, new { @class = "btn btn-default" })
</p>

<div class="search-form">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="form-group">
                @Html.Label("searchStringUserNameOrEmail", "Search:", new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    @Html.TextBox("searchStringUserNameOrEmail", null, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </div>
        </div>
    }
</div>
<br />
<table class="table">
    <tr>
        <th>
            Surname
        </th>
        <th>
            Rank
        </th>
        <th>
            Email
        </th>
        <th>
            Station
        </th>
        <th>
            Locked Out
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lockoutEndDateUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { UserName = item.userName }) |
                @if ((item.userName.ToLower() != User.Identity.Name.ToLower()))
            {
                    @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.userName },
                new { onClick = "return confirm('Are you sure you wish to delete this user?');" })
                }
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-default" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
