@model BSAS_20170810.Models.Station

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.region.regionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region.regionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stationName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.stationId }, new { @class = "btn btn-default"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
