@model IEnumerable<BSAS_20170810.Models.Station>

@{
    ViewBag.Title = "Stations";
}

<div class="page-title">
    <h2>Stations</h2>
</div>
<br />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="list-stns">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region.RegionName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.RegionName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StationId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StationId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StationId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
